a {
    display: block;
    text-decoration: none;
    text-align: right;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  font-family: Arial, Helvetica, sans-serif;
}

h4, h6, p {
    font-family: Arial, Helvetica, sans-serif;
}